<!doctype html>
<html lang="en">

<head>
    <title>Link Shortner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Link Shortner</a>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Shrink your links</h1>
            {{if .error}}
            <div class="alert alert-warning" role="alert">
                A simple warning alert—check it out!
            </div>
            {{end}}

            <form method="POST">
                <div class="input-group mb-3">
                    {{.csrfField}}
                    <input type="url" name="url" required class="form-control" placeholder="https://google.com">
                    <div class="input-group-append">
                        <input class="btn btn-outline-secondary" type="submit" value="Shrink">
                    </div>
                </div>
            </form>

            {{if .url}}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Your shrinked link</span>
                </div>
                <input type="text" id="shilink" class="form-control" value="{{.url}}" readonly>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="copier" data-clipboard-target="#shilink" type="button">Copy</button>
                </div>
            </div>
            {{end}}
        </div>
    </div>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
    <script>
    new ClipboardJS('#copier');
    </script>

</body>

</html>